{% extends "html/index.twig" %}

{% block content %}
<div class="well" id="loginBox">
    {% for error in errors %}
        <div class="alert alert-error">{{error}}</div>
    {% endfor %}

    {% for msg in success %}
        <div class="alert alert-success">{{msg}}</div>
    {% endfor %}
    <div class="row-fluid">
        <div class="span6">
            <form action="/auth/register" method="POST">
                <fieldset>
                    <legend>Register</legend>
                    <input type="text" name="login" placeholder="mail@example.com" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="password" name="repeat" placeholder="Repeat password" />
                    <button class="btn" name="submit" type="submit">Register</button>
                </fieldset>
            </form>
        </div>
        <div class="span6">
            <form action="/auth/login" method="POST">
                <fieldset>
                    <legend>Login</legend>
                    <input type="text" name="login" placeholder="mail@example.com" />
                    <input type="password" name="password" placeholder="Password" />
                    <button class="btn" name="submit" type="submit">Login</button>
                </fieldset>
            </form>
            <p>I <a href="/auth/forgot">forgot my password</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
