{% extends "html/index.twig" %}

{% block content %}
<div class="row-fluid">
{% for number in range( 1, settings.columns ) %}
    <div class="span{{12 / settings.columns}}">
        <div class="column">
            Modules…
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
