{% extends "html/index.twig" %}

{% block navItems %}
<li><a href="/portal/setting" title="Settings"><i class="icon-cog icon-white"></i></a></li>
<li><a href="/auth/logout" title="Logout"><i class="icon-off icon-white"></i></a></li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        @TODO
    </div>
</div>
{% endblock %}
