<div class="module">
    <div class="module-header">
        {% block title %}{{module.title}}{% endblock %}
    </div>
    <div class="module-body hidden-phone hidden-tablet">
        {% block content %}Please extend from this template{% endblock %}
    </div>
</div>
