<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="../src/php/Torii/bootstrap.php"
         syntaxCheck="false">

    <filter>
      <whitelist>
          <directory suffix=".php">../src/php/</directory>
      </whitelist>
  </filter>
</phpunit>
