.account-list tfoot form {
    margin: 0px;
}

.account-content ul {
    margin: 0px;
    list-style-type: none;
}

.account-content ul a {
    color: #ffffff;
}

table.account {
    width: 100%;
}

table.account th.name {
    text-align: left;
    font-weight: normal;
}

table.account th.name a {
    color: white;
}

table.account tr.transaction {
    display: none;
}

table.account .noted {
    color: #555753;
}

table.account .date,
table.account .value {
    text-align: right;
}

table.account .positive {
    color: #4e9a06;
}

table.account .negative {
    color: #a40000;
}

