<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="src/php/Torii/bootstrap.php"
         syntaxCheck="false">

    <testsuites>
        <testsuite name="Torii Test Suite">
            <directory>test/</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
          <directory suffix=".php">src/php/</directory>
      </whitelist>
  </filter>
</phpunit>
