{% extends "html/module.twig" %}

{% block content %}
<form class="form-search weather">
    <input type="hidden" name="module" value="{{module.id}}">
    <input type="text" class="input-large search-query" name="location" placeholder="Location">
    <button type="submit" class="btn">Show</button>
</form>
{% endblock %}
