{{#urls}}
<tr>
    <td>{{name}}</td>
    <td>{{url}}</td>
    <td><span class="status-{{statusClass}}">{{textStatus}}</span></td>
    <td>
        <a class="btn btn-mini remove" data-url="{{id}}" data-module="{{module}}" title="Remove calendar">
            <i class="icon-remove"></i>
        </a>
    </td>
</tr>
{{/urls}}
