{{#accounts}}
<tr>
    <td>{{name}}</td>
    <td>{{blz}}</td>
    <td>{{knr}}</td>
    <td>****</td>
    <td>
        <a class="btn btn-mini remove" data-account="{{id}}" data-module="{{module}}" title="Remove account">
            <i class="icon-remove"></i>
        </a>
    </td>
</tr>
{{/accounts}}
