<table class="account">
{{#accounts}}
    <tr>
        <th class="name" colspan="3">
            <a href="#" onclick="jQuery( '.account_{{knr}}' ).toggle(); return false;">
                <strong>{{name}}</strong> ({{knr}})
            </a>
        </th>
    </tr>
    {{#transactions}}
        <tr class="account account_{{knr}}">
            <th class="name" colspan="2">
                <strong>{{accountName}}</strong> ({{accountNumber}})
            </th>
            <th class="value {{status.sign}}">{{status.value}} {{status.currency}}</th>
        </tr>
        {{#notedTransactions}}
        <tr class="transaction account_{{knr}} noted">
            <td class="date">{{formatted}}</th>
            <td>{{name}}</th>
            <td class="value {{sign}}">{{value}} {{currency}}</td>
        </tr>
        {{/notedTransactions}}
        {{#transactions}}
        <tr class="transaction account_{{knr}}">
            <td class="date">{{formatted}}</th>
            <td>{{name}}</th>
            <td class="value {{sign}}">{{value}} {{currency}}</td>
        </tr>
        {{/transactions}}
    {{/transactions}}
{{/accounts}}
</table>
