<div class="module">
    <div class="header">
        {% block title %}{{module.title}}{% endblock %}
    </div>
    <div class="body hidden-phone hidden-tablet">
        {% block content %}Please extend from this template{% endblock %}
    </div>
</div>
