<div class="module" data-id="{{module.id}}">
    <div class="header">
        {% block title %}<h3>{{module.title}}</h3>{% endblock %}
    </div>
    <div class="body">
        {% block content %}Please extend from this template{% endblock %}
    </div>
</div>
