html {
    overflow-y: scroll;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;

    margin: 0px;
    padding: 0px;

    background-image: url( "/images/linen.png" );
}

body > .container-fluid {
    padding: 0px;
}

.navbar {
    margin-bottom: 5px;
}

.navbar .navbar-inner {
    background-image: none;
    border-radius: 0px;
}

hr {
    border: none;
    height: 1px;
    background-color: #242424;
    margin: 5px;
}

.footer {
    text-align: center;
}

.box {
    max-width: 500px;
    margin: 50px auto;
}

#content {
    margin: 0px 10px;
}

.column {
    background-color: #363636;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px;

    margin: 2px;
    padding: 3px;

    min-height: 50px;

    list-style-type: none;
}

.modal {
    color: #000000;
}

.modal .table tbody tr:hover td,
.modal .table tbody tr:hover th {
    background-color: #e0e0e0;
}

.modal .table-striped tbody tr:nth-child(2n+1) td,
.modal .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #eeeeef;;
}

/**
 * Common module styles
 */
.module {
    background-color: #242424;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px;

    margin-bottom: 10px;
}

.module .header {
    font-size: 16px;
    font-weight: bold;
    color: #cccccc;

    padding: 3px 3px 3px 6px;

    border-bottom: 1px solid #121212;
}

.module .header .btn-group {
    float: right;
}

.module .body {
    padding: 3px 4px;
    color: #ffffff;
}

/**
 * Drag & Drop
 */
.trash {
    background-color: #700000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px;

    display: none;
    position: absolute;
    top: -5px;

    margin: 10px auto;
    padding: 3px;

    width: 200px;
    height: 24px;

    list-style-type: none;

    background-image: url( "/images/trash.png" );
    background-repeat: no-repeat;
    background-position: center center;
}

.drag-over {
    background-color: #484848;
}

