.feed-list tfoot form {
    margin: 0px;
}

.feed-content ul {
    margin: 0px;
    list-style-type: none;
}

.feed-content ul a {
    color: #ffffff;
}

.status-ok {
    color: #46a546;
}

.status-redirect {
    color: #ffc40d;
}

.status-fault {
    color: #9d261d;
    font-weight: bold;
}

.status-error {
    color: #9d261d;
    font-weight: bold;
}

.favicon {
    height: 16px;
    width: 16px;
    background-color: #ffffff;
}

ul.feed a {
    display: block;
}

ul.feed h4 {
}

ul.feed p.scriber {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

