{{#feeds}}
<a class="btn btn-mini btn-inverse feed-button" href="#" data-feed="{{feed}}" title="Mark {{feed}} as read">
    {{^favicon}}
    <i class="icon-white icon-check"></i>
    {{/favicon}}
    {{#favicon}}
    <div class="favicon">
        <img src="/images/favicons/{{favicon}}" width="16" height="16" alt="{{feed}}" />
    </div>
    {{/favicon}}
</a>
{{/feeds}}

<a class="btn btn-inverse btn-mini dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" title="Settings">
    <i class="icon-cog icon-white"></i>
</a>

<ul class="dropdown-menu">
    <li>
        <a class="" data-toggle="modal" href="#feed-settings-{{module}}">
            <i class="icon icon-cog"></i> Display settings
        </a>
    </li>
    <li>
        <a class="" data-toggle="modal" href="#feed-list-{{module}}">
            <i class="icon icon-list"></i> Manage feed list
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a class="" href="#">
            <i class="icon icon-refresh"></i> Refresh
        </a>
    </li>
</ul>


