<a class="btn btn-inverse btn-mini" data-toggle="modal" href="#feed-settings-{{module}}">
    <i class="icon-white icon-list"></i>
</a>

{{#feeds}}
<a class="btn btn-mini btn-inverse feed-button" href="#" data-feed="{{feed}}" title="Mark {{feed}} as read">
    {{^favicon}}
    <i class="icon-white icon-check"></i>
    {{/favicon}}
    {{#favicon}}
    <img src="/images/favicons/{{favicon}}" width="16" height="16" alt="{{feed}}" />
    {{/favicon}}
</a>
{{/feeds}}

<a class="btn btn-inverse btn-mini" href="#">
    <i class="icon-white icon-refresh"></i>
</a>
