<ul class="feed">
{{#entries}}
    <li>
        <a href="{{link}}" target="_blank" data-id="{{id}}">
            <span class="feed">[{{feed}}]</span> {{title}}
        </a>
    </li>
{{/entries}}
</ul>
