{{#urls}}
<tr>
    <td>{{name}}</td>
    <td>{{url}}</td>
    <td><span class="status-{{statusClass}}">{{textStatus}}</span></td>
    <td>
        <button class="btn btn-mini" data-url="{{id}}" data-module="{{module}}" title="Remove feed">
            <i class="icon-remove"></i>
        </button>
    </td>
</tr>
{{/urls}}
