{{#urls}}
<tr>
    <td>{{url}}</td>
    <td>{{status}}</td>
    <td>
        <button class="btn btn-mini" data-url="{{id}}" data-module="{{module}}">
            <i class="icon-remove"></i>
        </button>
    </td>
</tr>
{{/urls}}
