.calendar-list tfoot form {
    margin: 0px;
}

.calendar-content ul {
    margin: 0px;
    list-style-type: none;
}

.calendar-content ul a {
    color: #ffffff;
}

.status-ok {
    color: #46a546;
}

.status-redirect {
    color: #ffc40d;
}

.status-fault {
    color: #9d261d;
    font-weight: bold;
}

.status-error {
    color: #9d261d;
    font-weight: bold;
}

