.calendar-list tfoot form {
    margin: 0px;
}

.calendar-content ul {
    margin: 0px;
    list-style-type: none;
}

.calendar-content ul a {
    color: #ffffff;
}

.status-ok {
    color: #46a546;
}

.status-redirect {
    color: #ffc40d;
}

.status-fault {
    color: #9d261d;
    font-weight: bold;
}

.status-error {
    color: #9d261d;
    font-weight: bold;
}

.calendar-content h3 {
    font-size: 1em;
    margin: 0em;
}

.calendar-content ul.calendar .calendar {
    color: #babdb6;
}

.calendar-content ul.calendar .date {
    font-weight: bold;
}

