{% extends "html/module.twig" %}

{% block content %}
<form action="https://encrypted.google.com/search" method="GET" class="form-search google" target="_blank">
    <input type="text" class="input-large search-query" name="q" placeholder="Search phrase">
    <button type="submit" class="btn">Search</button>
</form>
{% endblock %}
